<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tripdossier"
          android:versionCode="1"
          android:versionName="1.0">

  <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="16"/>

  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
  <uses-permission android:name="android.permission.INTERNET"/>

  <application android:label="@string/appName" android:icon="@drawable/icon_launcher">
    <!-- home -->
    <activity android:name=".activities.HomeActivity" android:label="@string/homeLabel">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <!-- register -->
    <activity android:name=".activities.RegisterActivity" android:label="@string/registerLabel">
      <meta-data android:name="android.support.PARENT_ACTIVITY"
                 android:value="com.tripdossier.activities.HomeActivity"/>
    </activity>
    <activity android:name=".activities.LoginActivity" android:label="@string/loginLabel">
      <meta-data android:name="android.support.PARENT_ACTIVITY"
                 android:value="com.tripdossier.activities.HomeActivity"/>
    </activity>
  </application>

</manifest>
